.movies-list {
    // background-color: red;
    margin-top: 30px;
    

   

    .movies-images{

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 250px;
        width: 250px;

        border: 1px solid #ddd;
       
        padding: 15px;
        margin: 5px;

        flex: 1;
        justify-content: space-between;
        min-width:230px;
        max-width: 230px;

        .movies-title {
            color: white;
            display: none;
          }
          
        
    }
}