
.search-container{

    
    margin-left: auto;
   

.search-input {
    width: 200px;
    height: 35px;
    margin-top: 30px;
    margin-bottom: 15px;
    // margin-left: auto;
    padding-left: 10px;
    border-radius: 25px;
    font-size: larger;
    border: 0;
     
}
}